.phones {
  position: relative;
  margin-left: 5px;
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .container {
    margin: auto 0;
    border-left: 1px solid #10055e;
    padding: 5px;

    &.fixed {
      padding: 0;
      padding-left: 5px;
    }

    .phone {
      display: flex;

      .logo {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 5px;

        &.kyivstar {
          background: url('/storage/img/icons/mobile/icons.png') no-repeat -7px 0;
        }

        &.mts {
          background: url('/storage/img/icons/mobile/icons.png') no-repeat -7px -30px;
        }

      }

      span {
        display: block;

        &:hover {
          cursor: default;
        }
      }
    }

  }

  .caretDown {
    margin: auto 0;
    transition: transform .3s ease 0s;
  }

  &:hover {
    .caretDown {
      transform: rotate(-180deg);
    }
  }

}


@media (max-device-width: 1030px) {
  .phones {
    display: none;
  }

}
