.delete {
  position: absolute;
  top: 5px;
  right: 10px;
  color: midnightblue;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: darkred;
    cursor: pointer;
  }
}

@media (max-device-width: 450px) {
  .delete {
    top: 50px;
  }
}