.image {
  width: 390px;
  flex-shrink: 0;

  img {
    margin: auto 0;
    width: 100%;
    border-radius: 5px;
    border: 2px solid darkblue;
  }
}




@media (min-device-width: 1030px) and (max-device-width: 1160px) {
  .image {
    margin: 0 auto;
  }
}

@media (max-device-width: 900px) {
  .image {
    margin: 0 auto;
  }
}

@media (max-device-width: 490px) {
  .image {
    width: 250px;
  }

}