.delivery {
  width: 100%;
  margin-top: 20px;

  h3 {
    text-align: center;
    letter-spacing: 1.1px;
    padding: 5px 0;
  }

}

.form {
  list-style: none;
  width: 450px;

  & > li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  label {
    display: flex;
    line-height: 30px;

    input {
      flex-shrink: 0;
      padding: 3px;
      width: 260px;
      height: 30px;
      margin-left: 10px;
      border-radius: 5px;
      font-size: 100%;
      outline: 0 !important;
      border: 2px solid #aabed2;

      &:focus {
        border-color: blue;
      }
    }
  }

  .select {
    position: relative;

    .selectItem {
      margin: auto 0;
      display: flex;

      span {
        margin: auto 0;
      }

    }

    .selectInput {
      margin-left: 10px;
      width: 260px;
      padding: 3px;
      height: 30px;
      border-radius: 5px;


      background-color: gray;
      color: #4e4e4e;

      font-size: 100%;
      border: 2px solid #aabed2;
      display: flex;
      justify-content: space-between;
      position: relative;

      &.active{
        background-color: white;
        color: black;
      }


      &:hover {
        border-color: blue;
        cursor: default;
      }

      span, i {
        margin: auto 0;
      }

      span {
        height: 18px;
        overflow: hidden;
      }

    }

  }

}

