.warranty {

  h1 {
    text-align: center;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    padding: 5px 0;
  }

  p {
    margin-top: 15px;
    text-align: justify;
  }

}

.list {
  margin-left: 30px;
}

.loader {
  top: 38px;
}