.info {
  list-style: none;
  width: 60%;
  margin-top: 10px;

  li {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;

    span {
      &:first-child {
        width: 40%;
        flex-shrink: 0;
      }
    }
  }
}

@media (max-device-width: 630px) {
  .info {
    width: 100%;
  }
}
