.logo {
  height: 70px;
  width: 250px;

  img {
    height: 70px;
  }


  &.fixed {
    height: 50px;
    width: 179px;

    img {
      height: 50px;
    }

  }
}

@media (max-device-width: 1030px) {
  .logo {
    height: 50px;
    margin-right: 5px;

    img {
      height: 50px;
    }
  }
}

@media (max-device-width: 560px) {
  .logo {
   margin: 0 auto;
  }
}