.logo {
  height: 70px;

  img {
    height: 70px;
  }


  &.fixed {
    height: 50px;
    img {
      height: 50px;
    }

  }
}

@media (max-device-width: 1030px) {
  .logo {
    height: 50px;

    img {
      height: 50px;
    }
  }
}