.info {
  list-style: none;
  background-color: #161a1d;
  box-shadow: -2px 2px 7px black, 2px 0 7px black;
  color: #999;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  li {
    padding: 10px;
    border: 1px solid #999;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;

    i {
      margin: auto 0;
      margin-right: 10px;
    }
  }


}