.tabs {
  width: 100%;
  list-style: none;

  li {
    display: inline-block;
    width: calc(25% - 5px);
    background-color: #161a1d;
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding-left: 20px;
    color: #4d4d4d;
    white-space: nowrap;

    &:first-child {
      padding-left: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      border-left: 15px solid #161a1d;
      border-bottom: 15px solid transparent;
      border-top: 15px solid transparent;
      right: -15px;
      top: calc(50% - 15px);
      z-index: 100;
    }

    &:not(:first-child) {
      &::after {
        content: '';
        position: absolute;
        border-left: 15px solid dimgray;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        left: 0;
        top: calc(50% - 15px);
      }
    }

    &.active {
      color: #999;
      background-color: #10055e;

      &::before {
        border-left: 15px solid #10055e;
      }

    }

  }
}

@media (max-device-width: 600px) {
  .tabs {
    li {
      display: block;
      width: 150px;
      margin: 0 auto;
      padding-left: 0;
      text-align: center;
      margin-bottom: 5px;

      &::after, &::before {
        display: none;
      }

    }
  }
}
