.commentsList {
  list-style: none;
  margin-top: 10px;

}

.item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.comment {
  width: 100%;
}