.commentChange {
  display: flex;
  justify-content: space-between;

  & > textarea {
    color: #cfcfcf;
    resize: none;
    font: inherit;
    height: 80px;
    width: 97%;
    outline: 0;
    background-color: #10055e;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 0.5px;
    overflow-y: auto;
  }

  & > span {
    padding-left: 5px;
    font-size: 12px;
  }

  & > .warning {
    color: darkred;
  }

}


.buttons {
  margin-top: 10px;

  button {
    font: inherit;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: darkorange;
    color: rgba(0, 0, 0, 0.7);
    border: 0;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    outline: 0 !important;

    &:disabled {
      background-color: #161a1d;
      color: #bbb;
      box-shadow: none;

      &:hover {
        background-color: #161a1d;
        color: #bbb;
        cursor: not-allowed;
      }

    }


    &:hover {
      background-color: darkblue;
      color: #999;
      cursor: pointer;
    }
  }
}