.content {

  h1 {
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    padding: 5px 0;
    text-align: center;
  }
}

.cars {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loader {
  top: 38px;
}