.info {
  margin-left: 10px;
  width: 100%;
  position: relative;
}


.buy {
  display: flex;
  justify-content: space-between;
}


.dropDown {
  width: 80px;
  top: 56px;
  right: 140px;
  font-size: 1.125rem;

  & > li:hover {
    font-size: 1.5rem;
  }
}
