.buy {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 3px;

  & > span {
    margin: auto 0;
  }

  & > button {
    font-size: 14px;
    width: 105px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0 !important;
    cursor: pointer;
    background-color: darkorange;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    display: flex;

    &:hover {
      background-color: darkblue;
      color: #999;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.disable {
      box-shadow: none;
      background-color: gray;

      &:hover {
        background-color: gray;
        color: rgba(0, 0, 0, 0.7);
        cursor: not-allowed;
      }
    }

    & > i, & > span {
      margin: auto 0;
    }

    & > span {
      text-transform: uppercase;
      margin-left: 5px;
    }

  }
}

.selectQuantity {
  width: 60px;

  input {
    width: 39px;
    font-size: 1rem;
  }

}