.buttons {
  margin-top: 10px;

  button {
    font: inherit;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: darkorange;
    color: rgba(0, 0, 0, 0.7);
    border: 0;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    outline: 0 !important;

    i {
      line-height: 14px;
      font-size: 24px;
    }

    .prev {
      margin-right: 5px;
    }

    .next {
      margin-left: 5px;
    }

    &:hover {
      background-color: darkblue;
      color: #999;
      cursor: pointer;
    }
  }
}