.main {
  width: 100%;
  padding: 0 20px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-device-width: 1030px) {
  .wrapper {
    padding-top: 10px;
  }
}
