.cart {
  width: 99%;
  padding-bottom: 20px;

  h1 {
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    padding: 5px 0;
    text-align: center;
  }

  .cartEmpty {
    text-align: center;
  }
}

.cartList {
  list-style: none;
}

