.pagination {
  list-style: none;
  padding: 10px 0;
  height: 40px;

  li {
    display: inline-block;
    padding: 0 5px;
    color: darkblue;

    &.active {
      color: black;

      &:hover {
        cursor: default;
      }

    }

    &:hover {
      cursor: pointer;
    }
  }
}