.wrapper {
  height: 70px;
  background-color: darkgray;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;

  &.fixed {
    height: 50px;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px black;
  }
}

.info{
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.adj {
  display: flex;
  width: 100%;
  justify-content: center;
}




@media (max-device-width: 1030px) {
  .wrapper {
    height: 50px;
  }
}

@media (max-device-width: 560px) {
  .wrapper {
    height: 100px;

    &.fixed {
      height: 100px;
    }
  }

  .info {
    flex-direction: column;
  }

  .adj {
    margin: 0 auto;
    margin-bottom: 10px;
  }


}