.order {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .sideLeft {
    flex-shrink: 0;
    width: 380px;
    margin-right: 10px;

    label {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      margin: 10px 0;
      line-height: 30px;

      input, textarea {
        flex-shrink: 0;
        padding: 3px;
        width: 260px;
        height: 30px;
        margin-left: 10px;
        border-radius: 5px;
        font-size: 100%;
        outline: 0 !important;
        border: 2px solid #aabed2;

        &:focus {
          border-color: blue;
        }
      }

      textarea {
        line-height: 20px;
        resize: none;
        height: 100px;
        font-family: inherit;
      }
    }

    .login {
      color: darkblue;
      text-decoration: underline;

      &:hover {
        cursor: pointer;

      }
    }

    .button {
      float: right;
    }

  }

  .sideRight {
    width: 100%;

    h3 {
      border-bottom: 1px solid black;
      padding: 5px 0;
      text-align: center;
      letter-spacing: 1.1px;
    }

  }

  .edit {
    a {

      color: darkblue;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      i {
        margin-right: 5px;
      }
    }

  }

}

@media (max-device-width: 800px) {
  .order {
    justify-content: center;
    flex-direction: column;

    .sideLeft {
      margin: 0 auto;
    }
  }
}
