.products {
  margin-top: 10px;
}


.list {
  border-bottom: 1px solid black;
  padding: 0 5px;

  &, ul {
    list-style: none;
  }

  .orderItem {
    border-bottom: 1px solid black;
    padding: 5px 0;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: darkblue;

      &:hover {
        text-decoration: underline;
      }
    }

    .sum {
      display: flex;
      justify-content: space-between;
      font-size: 12px;

      ul {
        text-align: center;

        li:last-child {
          font-weight: bold;
        }
      }
    }

  }
}

.total {
  font-size: 1.125rem;
  padding-top: 5px;
  font-weight: bold;

  span {
    color: #0c0537;
  }
}