.authPopup {
  color: #999;
  left: 0;
  position: absolute;
  z-index: 1000;
  padding: 10px;
  top: 40px;
  border-radius: 10px;
  background-color: #161a1d;
  box-shadow: 2px 2px 7px black;
  cursor: default;
  font-size: 14px;

  &::before {
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #161a1d;
    right: calc(50% - 15px);
    top: -9px;
  }

  &::after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    top: -10px;
  }

  .name {
    color: white;
    border-bottom: 1px solid #999;
    line-height: 16px;
    padding-bottom: 10px;
    text-align: center;
  }

  .history, .detail, .favorite, .logout {
    display: flex;
    border-bottom: 1px solid #999;
    padding: 5px;

    i {
      width: 20px;
      margin: auto 0;
      margin-right: 15px;
    }

    a {
      color: #999;
      text-decoration: none;
      white-space: nowrap;
    }

    &:hover {
      * {
        color: yellow;
      }

    }
  }

  .logout {
    border-bottom: none;
    padding-bottom: 0;

    span {
      &:hover {
        cursor: pointer;
      }
    }
  }

}